body {
    padding: 30px;
}

.navbar {
    margin-bottom: 30px;
}

/* Graph */
circle {
    fill-opacity:0.6;
    stroke-opacity:1
}

.from {
    fill: #FF0D00;
    stroke: #FF0D00;
    stroke-width: 2;
}

.to {
    fill: #028E9B;
    stroke: #028E9B;
    stroke-width: 2;
}

.interacted {
    fill: #98ED00;
    stroke: #98ED00;
    stroke-width: 2;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}
