{% include "header.html" %}
    <div id="fb-root"></div>
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                    appId      : '347009862067523', // App ID
                    channelUrl : '/fbchannelfile', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
            });
            
            FB.getLoginStatus(function(response) {
                  if (response.status === 'connected') {
                        postUserAuth(response.authResponse.accessToken);
                  } else if (response.status === 'not_authorized') {
                      // not_authorized
                      //login();
                  } else {
                      // not_logged_in
                      // login();
                  }
            });
            
            FB.Event.subscribe('auth.login', function () {
               // what happens after they click the facebook button
               postUserAuth();
            });
            
        };
        
        function postUserAuth(token) {
            
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                
                   
                var url = "/ensure_user/?token="+token+"&fb_id="+response.id;
               $.get(url, function(data) {
                    $('#connect_result').html(data);
                });
                   
                console.log('Good to see you, ' + response.id + '.');
            });
        }
        
        
        // Load the SDK Asynchronously
        (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
         }(document));
    </script>
    <br /><br />
    <div class="fb-login-button" scope="email,user_hometown,user_interests,user_likes,user_location,friends_hometown,friends_interests,friends_likes,friends_location" data-show-faces="false" data-width="400" data-max-rows="1"></div>
    <br /><br />
    <div id="connect_result">You have not connected yet.</div>
{% include "footer.html" %}
