<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <title>Non-responsive Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/styles.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

    <!-- Only used by fbnetwork.html... -->
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/graph.js"></script>
  </head>

  <body>

    <div class="container">
