{% include "header.html" %}

<style type="text/css">
    .listItem {
        padding:20px;
        font-size:20px;
    }
</style>

<center>
    <img src="{{ MEDIA_URL }}img/loader.gif" />
    <div style="height:30px"></div>
    <div id="procedure">
        <div class="listItem instruction">1. Extracting key terms...</div>
        <div class="listItem">•</div>
        <div class="listItem instruction">2. Gathering contact information...</div>
        <div class="listItem">•</div>
        <div class="listItem instruction">3. Cross-referencing...</div>
    </div>
</center>

<script type="text/javascript">

    console.log("Animating");

    window.onload = function() {
        var items = $("#procedure .instruction");
        console.log(items.length);

        var setHighlight = function(idx, delay) {
            items.each(function(i) {
                $(this).animate({
                    opacity: (i == idx)? 1 : 0.25
                }, delay);
            });
        };

        setHighlight(0, 0);
        setTimeout(function() { setHighlight(1, 500); }, 1000);
        setTimeout(function() { setHighlight(2, 500); }, 2000);
    };

    function getOut() {

        console.log("Setting location");
        window.location = "{{ destination }}";
    }

    setTimeout(getOut(), 10000)


    
</script>

{% include "footer.html" %}