
{
    "articles": [

        {% for article in articles %}

        {
            "title":"{{ article.title|escape }}",
            "url":"{{ article.url }}",
            "date":"{{ article.date }}",
            "summary":"{{ article.summary|escape }}",
            "image": {
                "url":"{{ article.image }}",
                "dimensions": {
                    "width" : 320,
                    "height" : 480
                }
            },
            "terms": {
                "{{ article.topic|escape }}" : [ {{ fb_id }} ]
            }
        }

            {% if forloop.revcounter != 1 %}
            ,
            {% endif %}

        {% endfor %}
    ]
}