
{
    "articles": [

        {% for item in items %}

            {
                "title":"{{ item.article.title|escape }}",
                "url":"{{ item.article.url }}",
                "date":"{{ item.article.date }}",
                "summary":"{{ item.article.summary|escape }}",
                "image": {
                    "url":"{{ item.article.image }}",
                    "dimensions": {
                        "width" : {{ item.article.imageWidth }},
                        "height" : {{ item.article.imageHeight }}
                    }
                },
                "terms": {

                        {% for term in item.fbpeople %}
                            "{{ term.0 }}" : [
                            {% for fb_id in term.1 %}
                                {{ fb_id }}
                                    {% if forloop.revcounter != 1 %}
                                    ,
                                    {% endif %}
                            {% endfor %}
                                ]
                            {% if forloop.revcounter != 1 %}
                            ,
                            {% endif %}
                        {% endfor %}


                            }
            }

            {% if forloop.revcounter != 1 %}
            ,
            {% endif %}

        {% endfor %}
    ]
}